.shippingForm {
   display: flex; 
   flex-direction: row; 
   /* width: 800px; */
}

.shippingInputsWrapper {
   display: flex;
   /* flex-direction: column; */
   gap: 10px;
   border: 2px solid white;
   border-radius: 10px;
   background-color: white;
   height: max-content;
   margin: 20px auto;
   padding: 20px;
   text-align: center;
}

.shipInputs input {
   height: 35px;
   width: 250px;
   text-align: center;
   margin: 10px 0;
}

.shippingSummaryContainer {
   font-size: 12px;
   display: flex;
   flex-direction: column;
   width: 250px;
   height: max-content;
   justify-content: center;
   border-radius: 10px;
   margin: auto;
   padding: 10px;
   background: whitesmoke;
}


.summaryTitle {
   color: black;
   width: 125px;
   height: 50px;
   text-align: center;
   margin: auto;   
   font-size: 18px;
}

.summaryWrapper {
   width: 175px;
   margin: auto;
}


.PayNowButton { 
   width: max-content;
   margin: 0px auto;
   padding: 10px 15px;
}

.summaryButtons {
   display: flex;
   margin-top: 25px;
}

.shippingRadiosContainer {
   display: flex;
   justify-content: space-around;
}

.totalAfterShipping {
   height: 50px;
   text-align: left;
}

.totalAfterShipping div {
   margin: 15px auto;
   font-weight: 600;
}