.cartContainer {
   display: flex;
   width: 90%;
   margin: auto;
   /* height: fit-content; */
   justify-content: center;
   gap: 15px;
   font-family: copperplate;
   padding: 0 5px;
}

.cartH2 {
   color: white;
   margin: 10px auto;
   /* padding: 10px 0; */
   font-size: 30px;
   font-family: copperplate;
   margin-bottom:20px ;
}

.itemWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.itemName {
   font-family: copperplate;
   font-size: 25px;
}

.itemImage {
   border: 2px solid black;
   min-height: 140px;
}

.itemPrice {
   letter-spacing: 1.5px;
}

.removeFromCart {
   color: red;
   border-radius: 5px;
   background: black;
}

.continueToCheckout {
   width: 90%;
   margin: 20px auto;
   padding: 0px 15px;
   border: 3px solid rgba(255, 132, 31, 0.876);
   align-items: center;
   background-color: #3d4040;
   text-align: center;
}

.boxTitle {
   margin-bottom: 20px;
   margin-top: 10px;
   color: #e77c26;
   font-size: 22px;
   font-family: copperplate;
}

.totalPrice {
   font-weight: 600;
}

.summaryItemQuantity {
   /* width: 15px; */
   height: 20px;
   margin: 10px auto;
}

.cartSummary {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
   margin-bottom: 10px;
   align-items: center;
   justify-content: space-evenly;
}

.checkoutButton {
text-align: center;
width: 100px;
height: 30px;
border-radius: 25px;
align-items: baseline;
}

.checkoutButton:hover {
   background-color:lightblue;
   color: black;
}

.totalCartPrice { 
   display:flex ;
   flex-direction: column;
   justify-content: space-around;
   font-weight: 500;
   border: 1px inset black;
   border-radius: 7px;
   padding: 5px 10px;
   width: 200px;
   color: white;
   margin: auto;
   align-items: center;
   background-color: black;

}

.summaryWrapper {
   display: flex;
   border: 1px solid black;
   border-radius: 7px;
   padding: 5px 10px;
   width: 410px;
   height: fit-content;
   background-color: #e4e4e4;
   align-items: center;
   justify-content: space-between;
}


@media screen and (max-width: 600px) {
   .cartContainer {
      flex-direction: column;
   }

   .cartSummary {
      flex-direction: column;
   }

   
} 