.cartItemContainer {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   width: 255px;
   height: 325px;
   border: 3px solid black;
   border-radius: 5px;
   background-color: rgb(159 159 159 / 73%);
   margin: auto;
   text-align: center;
   box-shadow: rgb(241, 139, 29) 0px 10px 25px -10px;
}

.itemImage {
   width: 97%;
   height: 175px;
}

.itemQuantity div {
   margin-bottom: 10px;
}

.itemImage {
   width: 95%;
}

.summaryWrapper {
   border: 1px solid black;
   border-radius: 7px;
   padding: 10px;
   width: 110px;
   background-color: #e4e4e4;
}