.cartContainer {
   display: flex;
   width: 100%;
   /* height: fit-content; */
   justify-content: center;
   gap: 15px;
   font-family: copperplate;
   padding: 0 5px;
}

.cartH2 {
   color: white;
   margin: 10px auto;
   /* padding: 10px 0; */
   font-size: 30px;
   font-family: copperplate;
   margin-bottom:20px ;
}

.itemWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.itemName {
   font-family: copperplate;
   font-size: 25px;
}

.itemImage {
   border: 2px solid black;
   min-height: 140px;
}

.itemPrice {
   letter-spacing: 1.5px;
}

.continueToCheckout {
   width: 65%;
   margin: 20px auto;
   padding: 15px;
   border: 3px solid rgba(255, 132, 31, 0.876);
   align-items: center;
   background-color: azure;
   text-align: center;
}

.boxTitle {
   margin-bottom: 20px;
   margin-top: 20px;
   text-decoration: underline;
}

.totalPrice {
   font-weight: 600;
}

.summaryItemQuantity {
   /* width: 15px; */
   height: 20px;
   margin: 10px auto;
}

.cartSummary {
   display: flex;
   gap: 20px;
   margin-bottom: 10px;
}

.checkoutButton {
text-align: center;
width: 100px;
align-items: baseline;
}

.totalCartPrice { 
   display:flex ;
   flex-direction: column;
   justify-content: space-around;
   font-weight: 500;
}