.cartItemContainer {
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   width: 230px;
   height: 450px;
   border: 3px solid black;
   border-radius: 5px;
   background-color: rgba(141, 135, 135, 0.971);
   margin: auto;
}
.checkoutButton {
   margin-top: 20px;
}

.itemImage {
   width: 97%;
   height: 125px;
}

.itemQuantity div {
   margin-bottom: 10px;
}


.itemImage {
   width: 95%;
}