.cartContainer {
   display: flex;
   background-color: rgba(244, 115, 10, 0.546);;
   width: 100%;
   height: 550px;
   justify-content: center;
   gap: 15px;
   font-family: copperplate;
   padding: 0 5px;
}

.cartContainer h2 {
   color: white;
   margin: 0;
   padding: 10px 0;
   font-size: 18px;
   font-family: 'Courier New', Courier, monospace;
   margin-bottom:20px ;
}

.itemWrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.itemName {
   font-family: copperplate;
   font-size: 25px;
}

.itemImage {
   border: 2px solid black;
   min-height: 140px;
}

.itemPrice {
   letter-spacing: 1.5px;
}

.continueToCheckout {
   width: 250px;
   height: 90%;
   margin: auto -6px auto auto;
   border: 3px solid rgba(255, 132, 31, 0.876);
   border-top-left-radius: 60px;
   border-bottom-left-radius: 60px;
   align-items: center;
   background-color: azure;
}

.boxTitle {
   margin-bottom: 20px;
   margin-top: 20px;
   text-decoration: underline;
}

.totalPrice {
   width: 100px;
   height: 50px;
   border: 1px solid black;
   margin: auto;
}

.summaryItemQuantity {
   width: 15px;
   height: 20px;
   border: 1px solid black;
   margin: 10px auto;
}