.filterNav {
   position: fixed;
   right: 30px;
   color: rgb(245, 243, 240);
   margin: auto;
   text-align: center;
}

.filterNav ul {
   list-style: none;
}

.filterNav input {
   width: 160px;
   height: 25px;
   padding: 2px 5px;
}

.filterNav button {
   border: 1px solid #e77c26;
   background-color: rgb(50 48 48 / 99%);
   border-radius: 2px;
   width: 175px;
   text-align: center;
   margin: 10px 0;
   padding: 10px;
   color: white;
}

.filterNav button:hover {
   background-color: rgb(241, 161, 11);
   color: black;
}