body {
  /* overflow: hidden; */
  background-image: url('/src/components/images/6191107.jpg');
  background-size: contain;
}

::-webkit-scrollbar {
  display: none;
}

h2 {
  text-align: center;
}

.headerWrapper {
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  text-align: center;
  z-index: 10;
  margin-bottom: 20px;
  margin: auto;
  justify-content: space-around;
  background-color: rgb(231, 124, 38);
  font-family: monospace;
  color: black;
}

.headerWrapper div {
  margin-bottom: 20px;
  margin: auto;
}

.headerWrapper label {
  font-size: 20px;
}

.headerWrapper img {
  margin-right: auto;
}

.navCartIcon {
  margin-right: 10px; 
  height: 40px;
  width: 40px; 
  border-radius: 10px;
}

.navCartIcon:hover {
  background-color: lightblue;
}

.mainContent {
  margin: auto;
  /* height: 100%; */
  border: 1px solid black;
  background-color: rgba(14, 11, 11, 0.877);
  overflow-y: auto;
  /* height: 100vh; */
}


