body { overflow-x:hidden ;}

h2 { text-align: center }

.headerWrapper {
   display: flex;
   align-items: baseline;
   text-align: center;
   margin-bottom: 20px ;
   margin: auto;
   justify-content: space-around;
   background-color: rgba(255, 132, 31, 0.876);
   font-family: copperplate;
   width: 100vw;

}

.headerWrapper div {
   margin-bottom: 20px;
   margin: auto;
}

.headerWrapper h2 {
   margin-right: auto;
   margin-left: 20px;
}

.mainContent {
   margin: auto;
   width: 100vw;
   height: 100vh;
   border: 1px solid black;
   /* padding: 0 25px; */
   background-color: rgba(14, 11, 11, 0.877);
}

