.progressContainer {
   margin: 15px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  display: flex;
  width: 35px;
  height: 35px;
  background-color: white;
  border: 1px solid rgb(255, 254, 254);
  border-radius: 180px;
  margin-left: -10px;
  z-index: 1;
  align-items: center;
  justify-content: center;
}

.line {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 15px;
  margin-left: -10px;
  border: 1px solid white;  
}
