.filterNav {
   position: fixed;
   right: 40px;
   color: rgb(245, 243, 240);
   margin: auto;
   text-align: center;
}

.filterNav ul {
   list-style: none;
}

.filterNav button {
   border: 1px solid white;
   background-color: rgba(221, 216, 216, 0.341);
   border-radius: 2px;
   width: 150px;
   text-align: center;
   margin: 10px 0;
   padding: 10px;
   color: white;
}

.filterNav button:hover {
   background-color: rgb(241, 161, 11);
   color: black;
}