.input-base div {
   position: relative;
}

.inputContainer {
   position: relative;
}

.error {
   color: red;
   font-size: 12px;
   margin-top: 5px;
   /* position:absolute; */
   /* top: 45px; */
}

.eye {
   position: absolute;
   top: 6px;
   right: 35px;
   width: 15px;
   cursor: pointer;
}